*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

body{
    display: grid;
    grid-template-rows: 15vh auto 10vh;

}

header{
    width: 100vw;
    background-color:  #0074d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

main{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 75vh;
    height: auto;
}

main > ul > li{
    list-style: none;
    margin: 10px 0;
}

main > ul > li > a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14;
}

footer{
    width: 100vw;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#ancoras-header{
    display:flex;
    flex-direction: column;
}

.botao-remover{
    background-color:  #ff4136;
    width: 100px;
    height: 20px;
    color: white;
    margin-left: 10px;
    border: none;
}

.botao-remover:hover{
    background-color:  #ff4136;
    opacity: 0.8;
    width: 100px;
    height: 20px;
    color: white;
    margin-left: 10px;
    border: none;
}